*.pid
*.sql
*.swo
*.swp
*.DS_Store
*.rdb
.env
/.bundle
/.capistrano
/config/database.yml
/config/deploy.yml
/config/settings.yml
/coverage/
/db/*.sqlite3
/log/*.log
/log/*.log.lck
/tmp
/vendor/bundle
/vendor/cache/
public/uploads/
public/*.zip
public/assets/
public/uploads/
/solr/data
/solr/pids
users
