<%= content_for :sidebar do %>
  <div class="info">
    <%= @section.description_html %>
  </div>

  <% if @tags.any? %>
    <div class="blog-tags">
      <h4>Теги:</h4>
      <ul class="list-inline">
        <% @tags.each do |tag| %>
          <li><%= link_to tag.name, tags_path(tag.name) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= render partial: 'sections/pages', locals: { pages: @pages } %>