<%= content_for :sidebar do %>
  <div class="info">
    <%= @section.description_html %>
  </div>

  <div class="blog-tags">
    <ul>
      <li>Теги:</li>
    </ul>
  </div>
<% end %>

<%= render @pages %>
