<% if page.tags.present? %>
  <div class="meta pull-left">
    <%= render :partial => 'commons/tags', :locals => { :page => page } %>
  </div>
<% end %>

<div class="pull-right hidden-xs hidden-sm">
  <%= render :partial => 'commons/likes' %>
</div>