<%= content_for :content do %>
  <div class="row main-container">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main">
      <%= yield %>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar">
      <%= yield :sidebar %>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/base' %>
